In [1]:
# Loading library
import os
os.sys.path.append("../")
from scripts.etl_pipeline import *

In [2]:
# Create a Spark Session
spark = (
    SparkSession.builder.appName("ETL Pipeline")
    .config("spark.sql.repl.eagerEval.enabled", True)
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.driver.memory", "4g")
    .config("spark.execturo.memory", "2g")
    .getOrCreate()
)

24/09/07 16:55:02 WARN Utils: Your hostname, qinsitaodeMacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.4.51 instead (on interface en0)
24/09/07 16:55:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/07 16:55:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/09/07 16:55:05 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

# Extract

As we can't use `urlretrieve` to get the data from Canvas, please download it to your local machine and move it `data/tables`. Then run the code below to unzip the files

In [3]:
# Assign data path
raw_path = "../data"

In [ ]:


for file in os.listdir(f"{raw_path}/tables"):
    if file == ".gitkeep":
        continue
    with zipfile.ZipFile(f"{raw_path}/tables/{file}", "r") as zip_ref:
        zip_ref.extractall(f"{raw_path}/")
    os.remove(f"{raw_path}/tables/{file}")

# Transform

The system use `user_id` as a key for identifying customer in transactions record and fraud probability tables. However, they also have a key-value map of `user_id` and `consumer_id`. We will use `consumer_id` as the only ID for customer. Thus, we will map `user_id` from each table to `consumer_id` and drop the former.

In [4]:
# Load consumer info - a key : value map for user_id to consumer_id
consumer_info = spark.read.parquet(f"{raw_path}/tables/consumer_user_details.parquet")

In [5]:
# Load all files that need to replace user_id
consumer_fraud_rate = spark.read.csv(f"{raw_path}/tables/consumer_fraud_probability.csv", header=True, inferSchema=True)
consumer_fraud_rate = replace_id(consumer_info, consumer_fraud_rate)

In [6]:
# Load transaction data for user_id replacement
transaction_p1 = spark.read.parquet(f"{raw_path}/tables/transactions_20210228_20210827_snapshot")
transaction_p1 = replace_id(consumer_info, transaction_p1)

transaction_p2 = spark.read.parquet(f"{raw_path}/tables/transactions_20210828_20220227_snapshot")
transaction_p2 = replace_id(consumer_info, transaction_p2)

transaction_p3 = spark.read.parquet(f"{raw_path}/tables/transactions_20220228_20220828_snapshot")
transaction_p3 = replace_id(consumer_info, transaction_p3)

transaction_records = reduce(DataFrame.unionAll, [transaction_p1, transaction_p2, transaction_p3])

24/09/07 16:55:20 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [7]:
transaction_records

+------------+------------------+--------------------+--------------+-----------+
|merchant_abn|      dollar_value|            order_id|order_datetime|consumer_id|
+------------+------------------+--------------------+--------------+-----------+
| 62191208634|63.255848959735246|949a63c8-29f7-4ab...|    2021-08-20|     651338|
| 15549624934| 130.3505283105634|6a84c3cf-612a-457...|    2021-08-20|     179208|
| 64403598239|120.15860593212783|b10dcc33-e53f-425...|    2021-08-20|     467663|
| 60956456424| 136.6785200286976|0f09c5a5-784e-447...|    2021-08-20|    1194530|
| 94493496784| 72.96316578355305|f6c78c1a-4600-4c5...|    2021-08-20|     467663|
| 76819856970|  448.529684285612|5ace6a24-cdf0-4aa...|    2021-08-20|    1194530|
| 67609108741|  86.4040605836911|d0e180f0-cb06-42a...|    2021-08-20|     467663|
| 34096466752| 301.5793450525113|6fb1ff48-24bb-4f9...|    2021-08-20|    1194530|
| 70501974849| 68.75486276223054|8505fb33-b69a-412...|    2021-08-20|     918448|
| 49891706470| 48.89796461900801|ed11e477-b09f-4ae...|    2021-08-20|     154128|
| 46804135891|6.6168976971833615|05b5edb5-b925-414...|    2021-08-20|     918448|
| 33064796871| 373.0873675184212|fe188788-b89f-4dd...|    2021-08-20|     511685|
| 44160392990| 83.98473054761176|7c44302d-98b3-48b...|    2021-08-20|     191119|
| 68435002949| 232.5364986739752|b4a89891-a113-45e...|    2021-08-20|     511685|
| 70033549200| 871.7678061729196|4b1d941a-21a1-43e...|    2021-08-20|     596919|
| 41944909975|30.910755230234322|302ae628-8eba-4a5...|    2021-08-20|     511685|
| 41705715409| 309.5417224575787|67f4f98e-3149-4e8...|    2021-08-20|    1212819|
| 29566626791| 74.15732460440282|71a81652-cc91-4bf...|    2021-08-20|     448088|
| 32361057556|119.19055863068847|15577921-1104-470...|    2021-08-20|    1165699|
| 47663262928| 36.69873283148887|c4fcb49a-ce87-4e1...|    2021-08-20|     650435|
+------------+------------------+--------------------+--------------+-----------+
only showing top 20 rows

Now that replacing `user_id` to `consumer_id` is done, load all other data and clean them

In [7]:
# Load merchant fraud probability
# merchant_fraud_rate = spark.read.csv(f"{raw_path}/tables/merchant_fraud_probability.csv", header=True, inferSchema=True)

# date_pattern = r"^\d{4}-\d{2}-\d{2}$"

# test = merchant_fraud_rate.withColumn("is_valid_date", F.regexp_extract(F.col("order_datetime"), date_pattern, 0))
# invalid_dates = test.filter(F.col("is_valid_date") == "")
# invalid_dates

In [8]:
merchant_fraud = spark.read.csv(f"{raw_path}/tables/merchant_fraud_probability.csv", header=True, inferSchema=True)
print(f'Total number of merchants: {transaction_records.select("merchant_abn").distinct().count()}')
print(f'Total number of merchants with fraudulent probability: {merchant_fraud.select("merchant_abn").distinct().count()}')

Total number of merchants: 4422
Total number of merchants with fraudulent probability: 61

Cleaning `tbl_merchants.parquet`. The feature `tags` is a string that represent either a tuple or a list, containing 3 elements:
* Items that are being sold
* Revenue levels
* Commission rate
Each elements either a list, a tuple, or a combination of both (e.g starts with `[` and ends with `)` and vice versa). These inconsistencies are mostly due to human errors. Thus, we need to take into account these consistent when splitting the values of the feature `tags` into separate columns

In [9]:
# Load merchant's info and clean it
merchant_info = spark.read.parquet(f"{raw_path}/tables/tbl_merchants.parquet")
merchant_info = load_merchant_details(merchant_info)
merchant_info.printSchema()
merchant_info.limit(2)
# merchant_info.groupBy(F.col("revenue_level")).agg(F.avg(F.col("take_rate"))) # average commission rate of each revenue level

root
 |-- name: string (nullable = true)
 |-- merchant_abn: long (nullable = true)
 |-- category: string (nullable = true)
 |-- revenue_level: string (nullable = true)
 |-- take_rate: double (nullable = true)

+--------------------+------------+--------------------+-------------+---------+
|                name|merchant_abn|            category|revenue_level|take_rate|
+--------------------+------------+--------------------+-------------+---------+
|       Felis Limited| 10023283211|furniture, home f...|            e|     0.18|
|Arcu Ac Orci Corp...| 10142254217|cable, satellite,...|            b|     4.22|
+--------------------+------------+--------------------+-------------+---------+

In [10]:
# Load consumer's info and reformat
consumer_info = spark.read.csv(f"{raw_path}/tables/tbl_consumer.csv", header=True, inferSchema=True)
consumer_info = load_consumer_details(consumer_info)

# consumer_info.groupBy("gender").count() # relatively same proportion of female and male customer, only a small percentage of did not provide their gender
consumer_info

+-----------------+-----------+-----------+-----+--------+
|             name|consumer_id|     gender|state|postcode|
+-----------------+-----------+-----------+-----+--------+
| Yolanda Williams|    1195503|     Female|   WA|    6935|
|       Mary Smith|     179208|     Female|  NSW|    2782|
|    Jill Jones MD|    1194530|     Female|   NT|     862|
|  Lindsay Jimenez|     154128|     Female|  NSW|    2780|
|Rebecca Blanchard|     712975|     Female|   WA|    6355|
|    Karen Chapman|     407340|     Female|  NSW|    2033|
|     Andrea Jones|     511685|     Female|  QLD|    4606|
| Stephen Williams|     448088|       Male|   WA|    6056|
|  Stephanie Reyes|     650435|     Female|  NSW|    2482|
| Jillian Gonzales|    1058499|     Female|  VIC|    3220|
|     Eugene Lucas|     428325|Undisclosed|  VIC|    3063|
|    Melissa Jones|    1494640|     Female|   WA|    6743|
| Angela Brown PhD|    1146717|     Female|  QLD|    4673|
|     Lance Butler|    1343547|       Male|  VIC|    3332|
|      Paul Abbott|    1463076|       Male|  QLD|    4512|
|       Tracy Hart|    1356405|       Male|  NSW|    2452|
|    Alyssa Wilson|    1331093|     Female|  VIC|    3719|
|  Michael Burnett|      80965|       Male|  NSW|    1109|
|Victoria Gonzalez|    1226530|     Female|  TAS|    7276|
|     James Norris|    1390367|Undisclosed|  VIC|    3234|
+-----------------+-----------+-----------+-----+--------+
only showing top 20 rows

In [ ]:
# Prepare and load data for geosparial analysis
# Skip if the file exists
consumer_info.write.parquet('../data/curated/consumer_info.parquet')
consumer_fraud_rate.write.parquet('../data/curated/consumer_fraud_rate.parquet')
transaction_records.write.parquet('../data/curated/transaction_records.parquet')